@font-face {
    font-family: "MrsEavesItalic"; 
    src: url("../fonts/MrsEavesItalic.otf"); 
}
@font-face {
    font-family: "SegoeUILight";
    src: url("../fonts/SegoeUILight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "SegoeUISemiBold";
    src: url("../fonts/SegoeUISemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "Univers-light-normal"; 
    src: url("../fonts/Univers-light-normal.ttf"); 
}



*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 380px;
}
.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.main_header{
    position: relative;

    background-image: url('../img/header_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.header_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 400px;
}
.logo{
    font-family: "MrsEavesItalic";
    font-size: 120px;
    color: #c4cccf;
    padding-top: 50px;

}

/* nav style */
.navbar{
    margin: 55px 45px;
}
.nav_item{
    padding-left: 50px;
}
.navbar ul li{
    display: inline;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #c4cccf;
    font-size: 24px;
    font-family: "SegoeUILight";
    transition: all .5s;
}
.navbar ul li a:hover{
    border-bottom: 2px solid #c4cccf;
}
.banner{
    position: absolute;
    z-index: 2;
    top: 300px;
    width: 99%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;   
}
.banner_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width:1024px){
    .navbar{
        display: none;
    }
}
/* end nav style */

.banner_title{
    color: #fff;
    font-size: 70px;
    font-family: "SegoeUISemiBold";
    font-weight: 700;

    padding-top: 40px;
}
.banner_text{
    color: #fff;
    font-size: 40px;
    font-family: "SegoeUILight";
    padding-top: 10px;
}
.banner_btn{
    color: #fff;
    font-size: 22px;
    font-family: "SegoeUILight";
    background-color: #185f3d;
    padding: 10px 25px 10px 20px;
    border: 4px solid #181c19;
    margin-top: 33px;
    margin-bottom: 53px;
}
.arrow{
    margin: 0 35px;
}

@media screen and (max-width:880px){
    .header_inner{
        padding-bottom: 490px;
    }
    .banner_inner{
        flex-wrap: wrap-reverse;
    }
    .banner{
        top: 125px;
    }
    .banner_btn{
        margin-top: 13px;
        margin-bottom: 33px;
    }
    .banner_item{
        padding: 0;
    }
}
@media screen and (max-width:600px){
    .arrow{
        display: none;
    }
}

/* end style for banner */

.burger_menu{
    display: none;
    position: fixed;
    top: 50px;
    right: 40px;
    cursor: pointer;
    z-index: 20;
}
.line{
    width: 60px;
    height: 3px;
    background-color: #fff;
    transition: all .8s;
}
.line::before{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #fff;
    transform: translateY(-13px);
    transition: all .7s;
}
.line::after{
    display: block;
    content: "";
    width: 60px;
    height: 3px;
    background-color: #fff;
    transform: translateY(10px);
    transition: all .3s;
}
.burger_active .line::before{
    transform: translateY(1px) rotate(45deg);
}
.burger_active .line::after{
    transform: translateY(-1px) rotate(-45deg);
}
.burger_active .line{
    background-color: transparent;
}
@media screen and (max-width:1024px){
    .burger_menu{
        display: block;
    }
}

.collapse_menu{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
}
.collapse_menu_active{
    background-color: #191967;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 15;
}
.collapse_menu ul{
    list-style: none;
    text-align: center;
    padding-bottom: 40px;
}
.collapse_menu ul li a{
    color: #fff;
    font-size: 90px;
    text-decoration: none;
}

/* style for section tabs */
.tabs{
    width: 100%;
    background-color: #fff;
}
.tab_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 80px;
    width: 100%;
}
.tab_item{
    text-align: center;
    color: #727171;
    font-size: 18px;
    font-family: "SegoeUILight";
    width: 25%;
    padding-top: 25px;
    padding-bottom: 50px;
    border-bottom: 3px solid #d6d6d6;
    cursor: pointer;
}
.tab_item:hover{
   background-color: #d6d6d6;
}
.active_tab{
    border: 3px solid #d6d6d6;
    border-bottom: none;
    font-size: 22px;
    font-family: "SegoeUISemiBold";
}
.active_tab:hover{
    background-color: #fff;
}
@media screen and (max-width:1024px){
    .tab_inner{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 150px;
    }
    .tab_item{
        width: 40%;
    }
}

.tab_item_content{
   display: none;
}
.tab_content_active{
    width: 100%;
    display: block;
    border: 3px solid #d6d6d6;
    border-top: none;
}
.tab_content_img{
    width: 60%;
    margin: 0 auto;
    padding: 70px 70px;
}
.tab_content_title{
    color: #4f4f4f;
    font-size: 38px;
    font-family: "SegoeUILight";
    padding-left: 50px;
}
.tab_content_text{
    color: #727171;
    font-size: 16px;
    font-family: "SegoeUILight";
    padding: 30px 20px 70px 50px;
    line-height: 30px;
}


/* style for choose us */
.choose_us{
    width: 100%;
    border-bottom: 2px solid #d6d6d6;
}
.choose_inner{
    margin-top: 30px;
    margin-bottom: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.choose_item{
    width: 50%;
}
@media screen and (max-width:1024px){
    .choose_inner{
        flex-wrap: wrap-reverse;
        padding-left: 5px;
        padding-right: 5px;
    }
    .choose_item{
        width: 75%;
    }
    .choose_item img{
        width: 100%;
    }
}

.choose_title{
    color: #4f4f4f;
    font-size: 32px;
    font-family: "SegoeUILight";
}
.choose_text ul{
    list-style-image: url(../img/check.png);
}
.choose_text ul li{
    color: #8a8888;
    padding-top: 25px;
    font-family: "Univers-light-normal"; 
}
.choose_text ul li:last-child{
    padding-bottom: 35px;
}


/* footer style*/
.footer{
    width: 100%;
    background-color: #2d2a29;
}
.footer_inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_item{
    padding: 30px 20px 50px 45px;
}
.footer_item_title{
    color: #fff;
    font-size: 26px;
    font-family: "SegoeUILight";
    padding-bottom: 15px;
}
.footer_item_content ul{
    list-style: none;
}
.footer_item_content ul li{
    color: #aaacac;
    font-size: 13px;
    padding-bottom: 12px;
}
.footer_logo{
    color: #58565d;
    font-size: 118px;
}

@media screen and (max-width:1024px){
    .footer_inner{
        flex-wrap: wrap;
    }
}